*{

    background-color:skyblue
}
h1{
    color:rgb(255, 47, 144);
}
h3{
    color:orange;
}
#ben
{

color:blue;
}
h4{
    color:firebrick;
}
.city
{
    color:blanchedalmond;
}
.ammu
{
    color:palegreen;
}
]